
.sidebar{
    transition: all 0.5s ease-in-out;
}
.sidebar-active{
    transition: all 0.5s  ease-in-out;
}

.font-header{
    font-family:Bebas Neue;
}


	.nav-li:after{
		content: '';
		display: block;
		border-bottom: 2px solid rgb(223, 12, 12);
		transform: scaleX(0);
		transition: .2s ease-in-out;
		text-shadow: 3px;
		
	}
	
	.nav-li:hover:after{
		transform: scaleX(1);
		
	}